
.App{
  height: 100%;
  position: relative;
}

#text,#author{
  font-size: 1.45em;
  margin: 15px 0px;
}

.animateClass{
  /* --- this animation doesn't work ---- */
  animation-name: textAnimate;
  animation-duration: 280ms;
  animation-timing-function: ease-in;
}

@keyframes textAnimate {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}

#quote-box{
  background-color: #fff;
  margin : 0px;
  padding: 25px 50px 40px 50px;
  border-radius: 4px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.bottom-box{
  /* this size fixed and parent element also at least this size follow */
  width: 500px;
}

#author{
  text-align: right;
}

.btns{
  display: flex;
  justify-content: space-between;
}

.share-btn{
  display: flex;
}
#tweet-quote{
  width: 50px;
  height: 38px;
  color: #fff;
  border-radius: 3px;
}
#tweet-quote>i{
  padding: 10px 15px;
}
#tumblr-quote{
  margin-left: 10px;
  width: 50px;
  height: 38px;
  color: #fff;
  border-radius: 3px;
}
#tumblr-quote>i{
  padding: 10px 18px;
}

#new-quote>button{
  margin-top: 3px;
  padding: 9px 10px;
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 0.85em;
  color: #fff;
  opacity: 1;
}
#new-quote>button:hover{
  opacity: 0.8;
}
