/* @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap'); */

html,body {
  margin: 0;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: large;
}
#root{
  height: 100%;
}